@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* Disable user interactions like text selection or right-clicking */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

/* Prevent attact mode from still being visible when it slides out */
html,
body {
  overflow-x: hidden;
  transform: translateX(0); /* Ensure transform is applied properly */
  will-change: transform; /* Hint to the browser that this element will change */
}

/* CLOVER VIEWER STYLES */
.clover-viewer {
  /* Make viewer take up the whole screen */
  width: 100%;
  height: 100%;

  /* TODO: Why? */
  div[role="radiogroup"] {
    overflow: hidden;
  }

  /* Fix "More Information" colors */
  button[role="switch"][data-state="unchecked"] {
    background-color: #433a3f;
    span[data-state="unchecked"] {
      background-color: #095cff;
    }
  }

  /* Hide the search button in the media navigator */
  .clover-viewer-media-wrapper > div > div > button {
    display: none;
  }

  /* Hide header */
  .clover-viewer-header {
    display: none;
  }
}
/* END CLOVER VIEWER STYLES */

/* ANIMATIONS */
/* Slide-in from right animation */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide-out to right animation */
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Apply the slide-in animation to the attract mode container */
.attract-mode {
  overflow: hidden;
  animation: slideInFromRight 1s ease-in-out forwards;
}

/* Class for slide-out animation */
.attract-mode-slide-out {
  animation: slideOutToRight 1s ease-in-out forwards;
}
/* END ANIMATIONS */

/* ADDITIONAL CONTROLS STYLES */

/* Match Clover button styles */
.additional-controls-instruction {
  box-shadow: black 0px 0px 8px 0px;
}

.additional-controls-button {
  box-shadow: black 0px 0px 8px 0px;
  transition: all 300ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* END ADDITIONAL CONTROLS STYLES */
